<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h3>Add New Book</h3>
				<form [formGroup]="bookRegister" (ngSubmit)="onSubmit()">
					<div class="form-group">
						<label>Book Name</label>
						<input type="text" formControlName="bookName" class="form-control" />
					</div>
					<div class="form-group">
						<label>Author Name</label>
						<input type="text" formControlName="authotName" class="form-control" />
					</div>
					<div class="form-group">
						<label>Price</label>
						<input type="text" formControlName="price" class="form-control" />
					</div>
					<div class="form-group">
						<button class="btn btn-primary">Add Book</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>